.navbar-default {
    background-color: #65baad;
}

.navbar-default .navbar-brand {
    color: #ffffff;
    font-size: calc(118% + 0.5vw);

}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
    font-size: calc(105%% + 0.5vw);
}

.jumbotron.special {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 45px 0px;
    background-image: url(../img/key-visual.jpg);
}

.page-title .page-title__title {
    font-size: calc(220% + 0.5vw);
}

.page-title .page-title__lead {
    font-size: calc(105% + 0.5vw);
}

.section {
    padding: 50px 0px;
    margin: 0px 30px;
    border-top: 2px solid #DDDDDD;
}

.section a {
    padding: 10px 0;
    font-size: calc(78% + 0.5vw);
}

.subtitle {
    font-size: calc(112.5% + 0.5vw);
}
