.jumbotron.special {
    margin-top: 120px;
    margin-bottom: 60px;
    padding: 45px 0px;
    background-image: url(../img/key-visual.jpg);
}

.page-title .page-title__title {
    font-size: 52px;
}

.page-title .page-title__lead {
    font-size: 18px;
}

.section {
    padding: 50px 0px;
    margin: 0px 30px;
    border-top: 2px solid #DDDDDD;
}

.subtitle {
    font-size: 22px;
}
